@use "../../styles/partials/variables" as *;
.upload {

  &__title{
    font-size: 2.4rem;
    margin: 2rem 1.6rem;
  }
  &__subtitle {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: $silver;
    margin: 0 1.6rem 1rem ;

  }

  &__container{
    margin: 0 1.6rem;
  }
  
  &__preview{
    width: 100%;
    border-radius: .5rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
}
