@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
.upload {
  border-top: 0.1rem solid $mercury;
  @include desktop {
    padding: 0 15rem 3rem 15rem;
    
  }

  &__title {
    font-size: 2.4rem;
    margin: 2rem 1.6rem;

    @include tablet {
      margin: $margin-tablet;
      border-bottom: 0.1rem solid $mercury;
      margin-top: 3rem;
      padding: 0 0 2rem 0;
    }
  }
  &__subtitle {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: $silver;
    margin: 0 1.6rem 1rem;

    @include tablet {
      font-weight: normal;
      margin: $margin-tablet;
      margin-top: 3rem;
    }

    @include desktop{
      margin: 0 0 2rem 0;
    }
  }

  &__desktop {
    @include desktop {
      display: flex;
      margin-top: 2rem;
    }
  }

  &__container {
    margin: $margin-mobile;

    @include tablet {
      width: 50%;
      margin: $margin-tablet;
    }

    @include desktop {
      width: 32%;
    }
  }

  &__preview {
    width: 100%;
    border-radius: 0.5rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    margin: $margin-mobile;

    @include tablet {
      margin: 0 3.6rem;
    }

    @include desktop {
      flex-grow: 1;
    }

    &__title,
    &__description__title {
      text-transform: uppercase;
      color: $silver;
    }

    &__title {
      @include desktop {
        margin-top: 0;
      }
    }

    [type="text"] {
      width: 100%;
      padding: 0;
      border: 0;
      border-radius: 0.5rem;
      border: 1px solid $silver;
      font-family: "Avenir";
      padding-left: 1rem;
    }

    [type="submit"] {
      @include icon-input;
      border: 0;
      width: 100%;
      padding: 0;

      @include tablet {
        width: 25%;
      }
    }

    &__input {
      height: 3.6rem;
    }
    &__description__textarea {
      padding-top: 1rem;
      margin-top: 0;
      font-family: "Avenir";
      height: 9rem;

      &::placeholder {
        padding-top: 1rem;
      }
    }
    &__btn__publish {
      background-color: $brainflix-blue;
      color: white;
      margin-top: 2rem;

      @include tablet {
        display: none;
      }
    }

    &__btn__publish--tablet {
      display: none;
      color: white;

      @include tablet {
        display: block;
        background: url(../../assets/images/publish.svg);
        background-color: $brainflix-blue;
      }
    }
    &__btn__cancel {
      color: $brainflix-blue;
      margin: 2rem 0;
      background-color: white;

      @include tablet {
        margin: 0 1rem 0 0;
      }
    }
  }

  &__form__btn-container {
    @include tablet {
      display: flex;
      justify-content: flex-end;
    }
  }
}
