@use "../../styles/partials/variables" as *;

@mixin icon-input{
    background-repeat: no-repeat;
    background-position-y:center ;
    background-position-x: 1rem ;
    padding: 0 4rem;
    height: 3.6rem;
    border-color: #afafaf;
    border-radius: .5rem;
}

@mixin icon-info{
  background-repeat: no-repeat;
  background-position-x: 1rem ;
  padding: 0 0 0 4rem;
  // height: 3.6rem;

}

@mixin icon-profilePic{
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    margin: 0 1rem;

  
}

@mixin tablet {
    @media (min-width: 768px) {
      @content;
    }
  }

  @mixin desktop {
    @media (min-width: 1280px) {
      @content;
    }
  }

  @mixin btn{
    background-color: $brainflix-blue;
    border-style: initial;
    color: white;
    margin: 2rem 0;
    flex-grow: 1;
  }
