@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.3rem;
  font-family: 'Avenir';
  margin: 0 1.6rem;

  @include tablet{
    font-family: 1.4rem;
  }
}
