@use "../../styles/partials/variables" as *;

.comment {
    border-bottom: 0.2rem solid $mercury;
    margin-bottom: 1.6rem;
  &__container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    &__icon {
      background-color: $mercury;
      border-radius: 50%;
      width: 3.6rem;
      height: 3.6rem;
      margin: 0 2rem 0 0;
      flex-shrink: 0;
    }

    &__name {
      font-weight: bold;
    }
  }
}
