@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.next-vid-section {
  margin: $margin-mobile;
  @include tablet {
    margin: $margin-tablet;
  }
  &__title {
    text-transform: uppercase;
    color: $silver;
    margin: 2rem 0;
    font-weight: bold;

    @include tablet {
      margin: 3rem 0;
    }

    @include desktop {
      margin-bottom: 1rem;
    }
  }
}
