@use "../../styles/partials/variables" as *;

.next-vid-section {
  margin: $margin-mobile;
  @include tablet {
    margin: $margin-tablet;
  }
  &__title {
    text-transform: uppercase;
    color: $silver;
  }
  &__thumbnail {
    display: flex;
    margin: 1rem 0;
    align-items: center;
  }
  &__img {
    width: 26%;
    height: 20vw;
    border-radius: 4px;
    margin-right: 1rem;
  }

  &__description {
    font-weight: bold;
  }
}
