@use "../../styles/partials/variables" as *;

.next-vid-section {
  margin: $margin-mobile;
  @include tablet {
    margin: $margin-tablet;
  }
  &__title {
    text-transform: uppercase;
    color: $silver;
    margin: 2rem 0;
    font-weight: bold;
  }
  &__thumbnail {
    display: flex;
    margin: 0 0 2rem 0;
    align-items: center;
  }
  &__img {
    width: 36%;
    border-radius: 4px;
    margin-right: 1rem;
    max-height: 60rem;
    aspect-ratio: 1.5;
  }

  &__description {
    font-weight: bold;
    margin-top: 0;
  }
}
