@use "../../styles/partials/variables" as *;

.video-section__title {
  color: $brainflix-black;
  font-size: 2.4rem;
  margin: 2rem 1.6rem;

  @include tablet {
    border-bottom: none;
    padding: 0;
    font-size: 3.3rem;
    margin: 2rem 0 0 3.6rem;
  }

  @include desktop{
    margin-top: 3rem;
  }
}
.video {
  margin: $margin-mobile;
  @include tablet {
    margin: $margin-tablet;
  }

  @include desktop{
    margin-right: 0;
  }
  
  &__container {
    display: flex;
    border-bottom: 1px solid $mercury;
    border-top: 1px solid $mercury;
    
    @include tablet {
      justify-content: space-between;
      border-top: 0;
      padding-right: 3.6rem  ;
    }

    @include desktop{
      margin: 0;
    }

    &__details {
      flex-grow: 1;

      @include tablet {
        display: flex;
        flex-grow: 0;
      }

      &--channel {
        font-weight: bold;
        color: $brainflix-black;
        margin: 2rem;
        margin-left: 0;
      }

      &--other,
      &--views,
      &--likes {
        color: $silver;
        margin-top: 2rem;
        margin-left: 0;
      }

      &--likes {
        background: url(../../assets/images/likes.svg);
        @include icon-info;
      }

      &--views {
        background: url(../../assets/images/views.svg);
        @include icon-info;
      }
    }

    &__description p {
      margin: 2rem 0;

      @include tablet {
        margin: 3rem 0;
        padding-right: 3.6rem;
      }

      @include desktop{
        margin-bottom: 5rem;

      }
    }
    &__comments--count {
      font-weight: bold;
      color: $brainflix-black;
      margin-bottom: 1.6rem;

      @include tablet {
        margin-bottom: 2rem;
      }
    }
  }
}
