@use "../../styles/partials/variables" as *;

.video-section {
  &__container {
    background-color: black;

    @include tablet {
      padding: $margin-tablet;
    }
    @include desktop {
      padding: 0 25rem;
    }
  }

  &__img {
    max-width: 100%;
    height: auto;

    @include desktop {
      aspect-ratio: 2;
    }
  }
}
