@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.comment__form {
  margin: 0 1.6rem;
  display: flex;
  border-bottom: 0.1rem solid $mercury;

  @include tablet {
    margin: $margin-tablet;
    padding-bottom: 1rem;
  }

  @include desktop {
    margin: 0 0 0 3.6rem;
    padding: 0 3.6rem 0 0;
    border-bottom: 0;
  }
  label {
    text-transform: uppercase;
    color: $silver;
    font-weight: 600;
  }
  textarea {
    padding: 1rem;
    margin-top: 1rem;
    font-family: "Avenir";
    border: solid $mercury;
    border-radius: 0.5rem;
    font-size: 1.4rem;

    input::placeholder {
      color: black;
    }

    @include tablet {
      padding: 1rem 1rem 0 1rem;
    }
  }
  &__img {
    @include icon-profilePic;
    margin-left: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @include tablet {
      flex-direction: row;
      align-items: flex-end;
      margin-bottom: 2rem;
    }

    &__submit {
      display: flex;
    }

    &__input {
      display: flex;
      flex-direction: column;

      @include tablet {
        flex-grow: 1;
      }
    }
  }

  [type="button"] {
    background: url("../../assets/images/add_comment.svg");
    width: 100%;
    @include icon-input;
    @include btn;

    @include tablet {
      flex-shrink: 1;
      margin: 0 0 0 2rem;
      height: 4.7rem;
    }
  }
}
