@use "../../styles/partials/resets";
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use '../../styles/partials/mixins' as *;

.main-section {
  @include desktop {
    display: flex;

    &__content {
      flex-direction: column;
      border-right: 1px solid $mercury;
      margin-left: 15rem;
      width: 100rem;
    }
  }
}
