@use "../../styles/partials/resets";
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main-section {
  max-width: 100%;
  @include desktop {
    display: flex;
    &__content {
      display: flex;
      flex-direction: column;
      border-right: 1px solid $mercury;
      margin-left: 15rem;
    }
  }

  &__loading {
    text-align: center;
  }
}
